@use '../../styles/vars' as v;

.project {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__title {
        color: #fff;
        text-align: center;
        padding: 2rem 0;
        font-size: 7vw;
    }

    &__item {
        padding: 20px;
        border-radius: 20px;
        text-align: center;
        background-color: v.$background-project;

        &-title {
            display: none;
        }

        &-image {
            margin-bottom: 10px;
        }

        &-techno {
            width: 80%;
            display: flex;
            justify-content: space-between;
            margin: auto;
            font-weight: bold;

            &-react {
                padding: 5px;
                border-radius: 10px;
                background-color: #a00a0a;
            }

            &-typescript {
                padding: 5px;
                border-radius: 10px;
                background-color: #1425c0;
            }

            &-redux {
                padding: 5px;
                border-radius: 10px;
                background-color: #ae10de;
            }
        }
    }
}

@media screen and (min-width: 767px) {
    .project {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

        &__title {
            font-size: 3vw;
            margin-bottom: 3rem;
        }

        &__item {
            width: 30%;
            transition: 0.3s;

            &-title {
                display: block;
                opacity: 0;
                color: #ffffff;
                background-color: transparent;
                font-size: 3rem;
                position: absolute;
                height: 50%;
                /* Exclure le filtre sur le titre */
                filter: none;
                top: 160px;
            }

            &:hover {
                transform: scale(1.05);
                filter: brightness(0.15);

                & .project__item-title {
                    opacity: 1;
                    color: #ffffff;
                }
            }
        }
    }


}