@use '../../../styles/vars' as v;

.project__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--section_background);
    padding: 1rem;
    border-radius: 20px;
    gap: 1rem;
    color: var(--body_color);

    &-image-desktop {
        display: none;
    }

    &-text {
        display: flex;
        flex-direction: column;
        align-items: center;


        &-techno {
            display: flex;
            gap: 2rem;

            &-item {
                padding: 5px;
                border-radius: 15px;
                color: #fff;
            }
        }
    }

    &-link {
        margin-top: 1rem;
        padding: 10px;
        background-color: var(--body_background);
        border-radius: 10px;
    }
}


@media screen and (min-width: 767px) {
    .project__card {
        cursor: pointer;

        &-image {
            display: none;

            &-desktop {
                transform-style: preserve-3d;
                transition: transform 1s;

                perspective: 1000px;
                display: block;
                width: 80%;

                &:hover {
                    transform: rotateY(180deg);
                    filter: brightness(0.3);

                    /* Ajoutez ces lignes pour afficher le texte au survol */
                    +.project__card-text {
                        visibility: visible;
                        animation: fade 3.5s;
                    }

                }
            }
        }

        &-text {
            padding: 1rem;
            width: 18vw;
            position: absolute;
            font-size: 1.5rem;
            top: 50%;
            visibility: hidden;
            color: #fff;




            &:hover {
                visibility: visible;
                animation: fade 3s;


                +.project__card-image-desktop {
                    transform: rotateY(180deg);
                    filter: brightness(0.3);

                }
            }

            &-title {
                display: none;
            }

        }

        &-link {
            transition: 0.3s;

            &:hover {
                background-color: #fff;
                scale: 0.9;
            }
        }


    }

    /* Appliquer le style à la carte parent lorsque le texte est survolé */
    .project__card-text:hover~.project__card-image-desktop {
        transform: rotateY(180deg);
        filter: brightness(0.3);
    }
}

// Animation 

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}