@use '../../../styles/vars' as v;

.project__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--section_background);
    padding: 1rem;
    border-radius: 20px;
    gap: 1rem;
    color: var(--body_color);

    &-image-desktop {
        display: none;
    }

    &-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1remvw;
        text-align: justify;





        &-techno {
            display: flex;
            gap: 2rem;

            &-item {
                padding: 5px;
                border-radius: 15px;
                color: #fff;
            }
        }
    }

    &-link {
        margin-top: 1rem;
        padding: 10px;
        background-color: var(--body_background);
        border-radius: 10px;
    }
}

@media screen and (min-width: 500px) {
    .project__card-text {
        font-size: 1.9vw;
    }
}

@media screen and (min-width: 1000px) {
    .project__card {
        cursor: pointer;

        &:hover {

            /* Ajoutez cette pseudo-classe sur le parent */
            .project__card-image-desktop {
                transform: rotateY(180deg);
                filter: brightness(0.1);
            }

            .project__card-text {
                visibility: visible;
                animation: fade 3.5s;
            }
        }

        &-image {
            display: none;

            &-desktop {
                transform-style: preserve-3d;
                transition: transform 1s;

                perspective: 1000px;
                display: block;
                width: 80%;
            }
        }

        &-text {
            padding: 2rem;
            width: 18vw;
            text-align: justify;
            font-size: 1.2rem;
            position: absolute;
            top: 20%;
            visibility: hidden;
            color: #fff;
            font-weight: bold;

            &-resume {
                margin-bottom: 15rem;
            }

            &-title {
                display: none;
            }

            &-techno-item {
                font-weight: bold;
            }

        }

        &-link {
            transition: background-color 0.3s, transform 0.3s;

            &:hover {
                background-color: #fff;
                transform: scale(0.9);
            }
        }
    }
}

// Animation 

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}