.contact {
    &__container {
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width:767px) {
    .contact {
        margin-top: 20rem;

        &__container {
            background-color: var(--section_background);
            padding: 3rem 25rem;
            border-radius: 30px;
        }
    }
}