@use '../../styles/vars' as v;

.header__navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    width: 100%;
    min-height: 75px;
    color: v.$font-color;

    &-links {
        display: flex;
        gap: 0 0.5rem;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        right: -100vw;
        bottom: 0;
        align-items: baseline;
        height: 100vh;
        padding: 2rem;
        background-color: black;
        visibility: hidden;

        &-item {
            display: block;
            padding: 1.5rem;
            font-size: 5vw;
            font-weight: bold;
        }
    }

    &-burger {
        width: 40px;
        height: 40px;
        background: transparent;
        border: none;
        position: fixed;
        top: 1.5rem;
        right: 1.5rem;

        &:hover {
            cursor: pointer;
        }
    }
}

.show-nav .header__navbar-links {
    right: -50vw;
    width: 100vw;
    visibility: visible;
}

.header__navbar-burger-bar,
.header__navbar-burger-bar::before,
.header__navbar-burger-bar::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background-color: #fff;
    transition: all .20s ease-in-out;
}

.header__navbar-burger-bar::before,
.header__navbar-burger-bar::after {
    content: "";
    position: absolute;
    left: 0;
}

.header__navbar-burger-bar::before {
    transform: translateY(-12px);
}

.header__navbar-burger-bar::after {
    transform: translateY(12px);
}

.show-nav .header__navbar-burger-bar::before {
    transform: rotate(45deg);
}

.show-nav .header__navbar-burger-bar::after {
    transform: rotate(-45deg);
}

.show-nav .header__navbar-burger-bar {
    width: 0;
    background: transparent;
}


@media screen and (min-width:767px) {
    .header__navbar {
        padding: 0 25svw;

        &-links {
            flex-direction: row;
            gap: 5rem;

            &-item {
                font-size: 3vw;
            }
        }

        &-burger {
            display: none;
        }
    }

    .show-nav .header__navbar-links {
        right: 0vw;
        width: auto;
        height: auto;
        padding: 0;
        background: transparent;
        visibility: visible;
        position: relative;


        &-item {
            font-size: 1rem;
        }
    }

    .hide-nav .header__navbar-links {
        right: 0vw;
        width: auto;
        height: auto;
        padding: 0;
        background: transparent;
        visibility: visible;
        position: relative;


        &-item {
            font-size: 1rem;
            transition: 0.3s;
            cursor: pointer;
            padding: 0;

            &:hover {
                animation: spin 1s linear;
                scale: 1.5;
                color: #fff;
            }
        }
    }
}

/* Animation */

@keyframes spin {
    0% {
        /* État initial de l'élément */
        transform: rotate(0deg);
        /* Rotation à 0 degré */
    }

    25% {
        /* État final de l'élément après l'animation */
        transform: rotate(25deg);
        /* Rotation à 360 degrés (un tour complet) */
    }

    50% {
        /* État final de l'élément après l'animation */
        transform: rotate(-25deg);
        /* Rotation à 360 degrés (un tour complet) */
    }

    75% {
        /* État final de l'élément après l'animation */
        transform: rotate(10deg);
        /* Rotation à 360 degrés (un tour complet) */
    }

    90% {
        /* État final de l'élément après l'animation */
        transform: rotate(-5deg);
        /* Rotation à 360 degrés (un tour complet) */
    }

    100% {
        /* État final de l'élément après l'animation */
        transform: rotate(0deg);
        /* Rotation à 360 degrés (un tour complet) */
    }

}